//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqueName: "name",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Name",
      val: ""
    },
    inputSurname: {
      classMod: "",
      uniqueName: "surname",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Surname",
      val: ""
    },
    inputMT4Number: {
      classMod: "",
      uniqueName: "mt4number",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "MT4 Number",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqueName: "email",
      labelVal: "",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Email",
      val: ""
    },
    inputContactNumber: {
      classMod: "",
      uniqueName: "contact_number",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Contact number",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqueName: "password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Type your password",
      val: ""
    },

    radioField: {
      classMod: "",
      labelVal: "Radio label name",
      uniqueName: "radio",
      radioGroupName: "radio",
      radioValue: "radio",
      radioClassMod: "",
      radioContent: "Some radio content"
    },

    checkboxField1: {
      classMod: "",
      labelVal: "",
      uniqueName: "checkbox1",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "I have read and accept the IFX Evolve Terms & Conditions."
    },
    checkboxField2: {
      classMod: "",
      labelVal: "",
      uniqueName: "checkbox2",
      checkboxValue: "checkbox",
      checkboxClassMod: "",
      checkboxContent: "I hereby expressly consent to the collection, use and disclosure of my personal and trading data related to IFX Evolve."
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "Message",
      textareaClassMod: "",
      placeholderVal: "Type your message",
      val: ""
    },

    selectFieldCustom: {
      classMod: "",
      uniqueName: "select",
      labelVal: "Select custom",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },
    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END