// SECTION getting started :: START

section#e-started.e-started
  .c-grid
    .e-started__wrapper

      a.e-started-back(href="#" class="" title="")
        i.icon-font.icon-chevron-left
        span!= "back"

      include _getting-started-gg

      // yes
      include _getting-started-congratulations
      include _getting-started-phase-1
      include _getting-started-phase-2
      include _getting-started-phase-3

      // no
      include _getting-started-join
      include _getting-started-open

// SECTION getting started :: END