---
title: IFX - Evolve

pageClassName: p-home
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/_main
    include components/_improve
    include components/_getting-started/_getting-started
    include components/_how
    include components/_faqs
